# Created by .ignore support plugin (hsz.mobi)
### Laravel template
vendor/
node_modules/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

.vendor/
.idea/ProyectoColegios.iml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/deployment.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/laravel-plugin.xml
.idea/php.xml
.idea/workspace.xml
desktop.ini
vendor


!/vendor/composer/autoload_static.php
/vendor/composer/autoload_static.php
