.mdl-layout__header{
    background-color: #3422FF;
}

.material-icons.md-48{
    font-size: 50px;
    width: 210px;
    height: 20px;
}

.carousel{
    display: flex;
    height: 400px;
    background-color: #2F2933;
}

.carousel img{
    width: 100%;
}

#features {
    margin-top:40px;
}

.feature, .feature i, .feature h3, .feature .title_border {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.feature {
    background:#FFFFFF;
    text-align:center;
    padding:20px;
    border: solid 1px #cccccc;
}

.feature p {
    margin-top:20px;
    margin-bottom:30px;
}

.feature i{
    font-size:80px;
    color:#FFFFFF;
    background:#1E825F;
    padding:30px;
    border-radius:50%;
    border: solid 3px #000;
}

.feature h3 {
    color:#1E825F;
}

.feature:hover {
    background:#F5F5F5;
    -webkit-transform: translate(0,1em);
    -moz-transform: translate(0,1em);
    -o-transform: translate(0,1em);
    -ms-transform: translate(0,1em);
    transform: translate(0,1em);
}

.feature:hover i{
    color:#212121;
    border-color:#212121;
    background:#FFFFFF;
}

.feature:hover .title_border {
    background-color:#212121;
    width:50%;
}

.feature .title_border {
    width: 0%;
    height: 3px;
    background:#1E825F;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 8px;
}

.center-map{
    margin-left: 30px;
    margin-right: 30px;
    border-color: #000000;
}

.panel-align{
    margin-left: 200px;
    width: 950px;
    height: 400px;
}

.btn-align{
    margin-left: 800px;
}

.margin{
    margin-bottom: 20px;
}

.margin-cont {
    margin-top: 30px;
    margin-left: 50px;
}
.container{
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 8px;
}

.container2{
    margin-top: 13px;
    height: 500px;
}

.container3{
    margin-left: 40px;
}

.image {
    position: relative;
    width: 100%; /* for IE 6 */
}

.bgcol{
    background-color: whitesmoke;
    width: 100%;
}

img#slider{
    display: block;
    margin: 0 auto;
    margin-top: -30px;
    width: 960px;
    height: 430px;

}

.sideB{
    background-color: #222222;
}

.colormdl{
    color: white;
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}
.demo-card-square > .mdl-card__title {
    color: #fff;
    background:
            url('../img/indexes/LOGO.jpg') bottom right 15% no-repeat #46B6AC;
}

.floating{
    position: fixed;
    bottom: 2em;
    right: 2em;
    z-index: 100;
}

.floating2{
    position: fixed;
    bottom: 5em;
    right: 2em;
    z-index: 100;
}

.seleccionada{
    background-color: #0585C0;
    color: white;
}